<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
  <title>BikeShop - Shop</title>
  <script src="https://kit.fontawesome.com/a420c910a6.js" crossorigin="anonymous"></script>

</head>

<body>

  <!-- header -->
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar" href="/">
      <img src="/images/bike-logo.svg" width="50" height="50" class="logo" alt="">
      The Bike Shop Experience
    </a>
  </nav>


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-primary" href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Basket</li>
    </ol>
  </nav>
  <h1>Basket</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Model</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Suppr</th>
      </tr>
    </thead>
    <tbody>

      <% for(let i=0; i<basketBike.length; i++){ %>
        <tr>
          <th scope="row">
            <%= i %>
          </th>
          <td><img src=<%=basketBike[i].image %> class="img-fluid w-25" alt='' /></td>
          <td>
            <%= basketBike[i].name %>

          </td>
          <td><input type="text" value='1'><i
              class="fa-solid fa-arrows-rotate text-primary border p-2 ml-2 border-primary rounded"></i></td>
          <td>
            <%= basketBike[i].price %>€
          </td>
          <td>
            <%= basketBike[i].price * basketBike[i].quantity %>€
          </td>
          <td>
            <a href="/delete?position=<%=i%>" class="fa-solid fa-trash
              text-primary
              border p-2 ml-2 border-primary
              rounded"></a>
          </td>
        </tr>
        <% } %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Basket</td>
            <td>

              <% let total=0; for(let i=0; i<basketBike.length; i++){ total=(basketBike[i].price *
                basketBike[i].quantity) + total } %>
                <%= total %>€
            </td>
            <td></td>

          </tr>

    </tbody>
  </table>







  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>